Checks: 'bugprone-*,performance-*,readability-*,google-readability-casting,modernize-use-nullptr,cppcoreguidelines-avoid-non-const-global-variables,misc-misplaced-const'
HeaderFilterRegex: DistroLauncher/.+\.h$
CheckOptions:
  - key: readability-identifier-length.IgnoredParameterNames
    value: "hr|ok|st"
  - key: readability-identifier-length.IgnoredVariableNames
    value: "hr|ok|st"