name: End-to-End Tests
on:
  workflow_dispatch:
  pull_request:
concurrency: build-wsl
jobs:
  start_vm:
    strategy:
      max-parallel: 1
    runs-on: ubuntu-latest
    steps:
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_VM_CREDS }}
      - name: Start the Runner
        run: |
          az vm start --name wsl-ci --resource-group wsl
  rdp:
    strategy:
      max-parallel: 1
    needs: start_vm
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt install -y xvfb freerdp2-x11
          xvfb-run -a xfreerdp /v:${{ secrets.AZURE_VM_AUTHORITY }} /u:${{ secrets.AZURE_VM_UN }} /p:'${{ secrets.AZURE_VM_UP }}' \
            /cert:tofu || exit 0

  e2e:
    strategy:
      max-parallel: 1
    needs: start_vm
    runs-on: self-hosted
    env:
      rootfs64: 'http://cloud-images.ubuntu.com/wsl/kinetic/current/ubuntu-kinetic-wsl-amd64-wsl.rootfs.tar.gz'
      distroName: "Ubuntu-Preview"
      appID: "UbuntuPreview"
      launcher: "ubuntupreview.exe"
      goversion: "1.18"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup MSBuild (PATH)
        uses: microsoft/setup-msbuild@v1.0.2
      - name: Install certificate
        shell: powershell
        run: |
          New-Item -ItemType directory -Path certificate
          Set-Content -Path certificate\certificate.txt -Value '${{ secrets.CERTIFICATE }}'
          certutil -decode certificate\certificate.txt certificate\certificate.pfx

          $pwd = ConvertTo-SecureString  '${{ secrets.CERTIFICATE_PASSWORD }}' -AsPlainText -Force
          Import-PfxCertificate -Password $pwd -CertStoreLocation Cert:LocalMachine\Trust -FilePath certificate\certificate.pfx
          Import-PfxCertificate -Password $pwd -CertStoreLocation Cert:CurrentUser\My -FilePath certificate\certificate.pfx
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.goversion }}
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Build and install the appxbundle for testing
        shell: powershell
        run: |
          .\e2e\pre-e2e-testing.ps1 -AppID ${{ env.appID }} -RootfsX64 ${{ env.rootfs64 }}
      - name: Run tests
        shell: powershell
        run: |
          $higherSession=0
          $count = 0
          While ($higherSession -lt 2) {
            Sleep 5
            $count = $count + 1
            If ($count -gt 19) {
              Write-Error "RDP never connected"
              Exit (-1)
            }

            $sessions=$(C:\SysinternalsSuite\logonsessions.exe -nobanner | Select-String Session: | Sort-Object -Descending | Get-Unique)
            echo $sessions
            If ( $sessions -ne $null -and $sessions.length -gt 0 ) {
              $higherSession=$( $sessions )[0].ToString()[-1]
            }

          }
          
          c:\sysinternalssuite\psexec.exe -nobanner -accepteula -w $PWD.Path -i $higherSession powershell.exe -Command `
            "&{ `$env:WSL_UTF8=1`; `$env:LAUNCHER_REPO_ROOT='$PWD.Path'`; wsl.exe --version; wsl.exe -l -v; cd .\e2e; Get-Item .\test-runner\*_test.go | ForEach-Object { go test -p 1 -cpu 1 .\test-runner\$($_.Name) --distro-name ${{ env.distroName }} --launcher-name ${{ env.launcher}} }  } 3>&1 2>&1 > .\test.log"

          Get-Content ".\test.log"
      - name: Remove the installed package
        if: always()
        shell: powershell
        run: |
          Remove-AppxPackage "$(Get-AppxPackage | Where-Object PackageFullName -like *${{ env.appID }}*)"


  deallocate_vm:
    strategy:
      max-parallel: 1
    needs: e2e
    if: always()
    runs-on: ubuntu-latest
    steps:
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_VM_CREDS }}
      - name: Deallocate the Runner
        run: |
          az vm deallocate --name wsl-ci --resource-group wsl